<div id="breadcrum-inner-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="breadcrum-inner-header">
                    <h1>@LinkName</h1>
                    <a href="index">Beranda</a> <i class="fa fa-circle"></i> <a href="@LinkUrl"><span>@LinkName</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string LinkName { get; set; }
    [Parameter]
    public string LinkUrl { get; set; }
}
