@inject IJSRuntime IJS
@inject NavigationManager NavMgr
@inject UserProfileService UserSvc
@inject CategoryService CategorySvc

<div id="search-categorie-item">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="row">
                    <div class="col-md-12 categories-heading bt_heading_3">
                        <h1>Daftar <span>Kategori</span></h1>
                        <div class="blind line_1"></div>
                        <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                        <div class="blind line_2"></div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[6].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-home"></i></div>
                                <h1><a href="#" @onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[6].Id)">Perumahan</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[4].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-send"></i></div>
                                <h1><a href="#" @onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[4].Id)">Hotel & Perjalanan</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[2].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-suitcase"></i></div>
                                <h1><a href="#" @onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[2].Id)">Pekerjaan</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[9].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-eye"></i></div>
                                <h1><a href="#" @onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[9].Id)">Kecantikan & Spa</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[3].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-heart"></i></div>
                                <h1><a href="#"@onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[3].Id)">Kesehatan & Kebugaran</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[5].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-female"></i></div>
                                <h1><a href="#" @onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[5].Id)">Denia Hiburan</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[12].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-gears"></i></div>
                                <h1><a href="#" @onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[12].Id)">Olahraga & Petualangan</a></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div @onclick="()=>OpenCategory(ListCategory[15].Id)" class="categorie_item">
                            <div class="cate_item_block hi-icon-effect-8">
                                <div class="cate_item_social hi-icon"><i class="fa fa-users"></i></div>
                                <h1><a href="#" @onclick:preventDefault @onclick="()=>OpenCategory(ListCategory[15].Id)">Pendidikan</a></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    Dictionary<long, Category> ListCategory = new();

    protected override async Task OnInitializedAsync()
    {


       
        var AllData = CategorySvc.GetAllData();
        foreach(var item in AllData)
        {
            ListCategory.Add(item.Id, item);
        }
       
    }
    async Task OpenCategory(long CategoryId)
    {

        NavMgr.NavigateTo($"/listing_list/category/{CategoryId}");
    }
}
