@inject ListingService ListingSvc
@inject UserProfileService UserProfileSvc
@inject CategoryService CategorySvc
@inject SubCategoryService SubCategorySvc
<div class="vfx-counter-block">
    <div class="vfx-item-container-slope vfx-item-bottom-slope vfx-item-left-slope"></div>
    <div class="container">
        <div class="vfx-item-counter-up">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="vfx-item-countup">
                        <div class="vfx-item-black-top-arrow"><i class="fa fa-file"></i></div>
                        <div id="count-1" class="vfx-coutter-item count_number vfx-item-count-up">@ListingCount</div>
                        <div class="counter_text">Daftar</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="vfx-item-countup">
                        <div class="vfx-item-black-top-arrow"><i class="fa fa-users"></i></div>
                        <div id="count-2" class="vfx-coutter-item count_number vfx-item-count-up">@UserProfileCount</div>
                        <div class="counter_text">Pengguna</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="vfx-item-countup">
                        <div class="vfx-item-black-top-arrow"><i class="fa fa-th"></i></div>
                        <div id="count-3" class="vfx-coutter-item count_number vfx-item-count-up">@CategoryCount</div>
                        <div class="counter_text">Kategori</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="vfx-item-countup last-countup">
                        <div class="vfx-item-black-top-arrow"><i class="fa fa-th-list"></i></div>
                        <div id="count-4" class="vfx-coutter-item count_number vfx-item-count-up">@SubCategoryCount</div>
                        <div class="counter_text">Tipe Daftar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public long ListingCount { get; set; }
    public long UserProfileCount { get; set; }
    public long CategoryCount { get; set; }
    public long SubCategoryCount { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ListingCount = ListingSvc.GetListingCount();
        UserProfileCount = UserProfileSvc.GetUserCount();
        CategoryCount = CategorySvc.GetCategoryCount();
        SubCategoryCount = SubCategorySvc.GetSubCategoryCount();
      
    }
}
