@inject CategoryService CategorySvc
@inject NavigationManager NavMgr
@inject IToastService Toast
<div id="vfx-search-item-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 vfx-search-categorie-title text-center bt_heading_3">
                <h1>Daftar <span>Iklan Baris</span></h1>
                <div class="blind line_1"></div>
                <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                <div class="blind line_2"></div>
            </div>
            <div class="col-md-12">
                <form id="search-form">
                    <div class="col-sm-9 col-md-10 nopadding">
                        <div id="vfx-search-box">
                            <div class="col-sm-3 nopadding">
                                <select @bind="SelCategory" id="search-location" class="form-control">
                                    <option value="all">All Categories</option>
                                    @foreach (var cat in ListCategory)
                                    {
                                        <option value="@cat.Name">@cat.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-9 nopadding">
                                <div class="form-group">
                                    <input id="search-data" @bind="Keyword" @onkeyup="KeyUp" class="form-control" name="search" placeholder="Enter Keyword" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2 text-right nopadding-right">
                        <div id="vfx-search-btn">
                            <button type="button" @onclick="GoSearch" id="search"><i class="fa fa-search"></i>Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@code {
    List<Category> ListCategory = new();
    string Keyword;
    string SelCategory;
    protected override async Task OnInitializedAsync()
    {
        ListCategory = CategorySvc.GetAllData();

    }
    async Task KeyUp(KeyboardEventArgs e)
    {

        if (e.Key == "Enter")
        {
            await GoSearch();
        }
    }

    async Task GoSearch()
    {
        if (string.IsNullOrEmpty(Keyword))
        {
            Toast.ShowWarning("silakan ketik kata kunci pencarian.");
            return;
        }
        NavMgr.NavigateTo($"/listing_grid/{Keyword}/{SelCategory}");
    }
}
