@page "/about"
@inject IJSRuntime IJS
<BreadcrumbPage LinkName="About Us" LinkUrl="/about"></BreadcrumbPage>
<div id="about-company">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 v-center">
                <div class="about-heading-title bt_heading_3">
                    <h1>Tentang <span>Dinding</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <p class="inner-secon-tl">
                    Dinding itu portal iklan baris paling lengkap, gratis, cepat. Cocok buat kamu yang mau ngiklan tanpa ribet. <br>
                    <br>
                    Dan kita ga ngambil duit sama sekali dari temen-temen, kita berharap semua orang bahagia dan terbantu udah cukup.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 user-lt-above"> <img src="images/about-user.png" alt="about-user"> </div>
        </div>
    </div>
</div>
<div id="featured-service-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-power-off faa-horizontal animated"></i> </div>
                    <h3>Clean Design</h3>
                    <p>Desain sederhana dari portal ini memudahkan temen-temen bisa langsung dapat barang sesuai yang diharapkan.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-send faa-horizontal animated"></i> </div>
                    <h3>Proses Mudah</h3>
                    <p>Bocah aja bisa ngiklan, itu yang kita harapkan dari portal ini.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-map-marker faa-horizontal animated"></i> </div>
                    <h3>Smart Search</h3>
                    <p>Pencarian barang yang cepat dan akurat tentunya menjadi fitur yang di damba pada pencarian iklan.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-money faa-horizontal animated"></i> </div>
                    <h3>Transparan</h3>
                    <p>Jika ada penipuan silakan adukan, langsung kita ciduk.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-paint-brush faa-horizontal animated"></i> </div>
                    <h3>Friendly Interface</h3>
                    <p>Interface yang menyerupai iklan baris di koran tentunya lebih mudah digunakan semua kalangan.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-comment faa-horizontal animated"></i> </div>
                    <h3>Self Service</h3>
                    <p>Antara pengiklan dan calon pembeli ketemu langsung di platform ini, tanpa ada broker yang ngolekin duit, jadi santai.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none;" id="dashboard_inner_block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-md-12 pricing-heading-title bt_heading_3">
                    <h1>Pricing <span>Plan</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="price-table-feature-block">
                            <h1>Basic</h1>
                            <hr>
                            <p>Free <span>$24</span> Per Month</p>
                            <div class="vfx-pl-seperator"> <span><i class="fa fa-caret-down"></i></span> </div>
                            <div class="vfx-price-list-item">
                                <h2>Limited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>One Agent for All</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Mail Communication</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-btn">
                                <button class="purchase-btn"><i class="fa fa-unlock-alt"></i> Purchase Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="price-table-feature-block active">
                            <h1>Premium</h1>
                            <hr>
                            <p>Free <span>$49</span> Per Month</p>
                            <div class="vfx-pl-seperator"> <span><i class="fa fa-caret-down"></i></span> </div>
                            <div class="vfx-price-list-item">
                                <h2>Unlimited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>One Agent for All</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Mail Communication</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-btn">
                                <button class="purchase-btn"><i class="fa fa-unlock-alt"></i> Purchase Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="price-table-feature-block">
                            <h1>Plus</h1>
                            <hr>
                            <p>Free <span>$99</span> Per Month</p>
                            <div class="vfx-pl-seperator"> <span><i class="fa fa-caret-down"></i></span> </div>
                            <div class="vfx-price-list-item">
                                <h2>Unlimited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Unlimited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Personal Training</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-btn">
                                <button class="purchase-btn"><i class="fa fa-unlock-alt"></i> Purchase Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<CounterBlockPage></CounterBlockPage>
@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    protected override async Task OnInitializedAsync()
    {
       
    }
}