@page "/about"
@inject IJSRuntime IJS
<BreadcrumbPage LinkName="About Us" LinkUrl="/about"></BreadcrumbPage>
<div id="about-company">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 v-center">
                <div class="about-heading-title bt_heading_3">
                    <h1>About <span>Company</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <p class="inner-secon-tl">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. <br>
                    <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 user-lt-above"> <img src="images/about-user.png" alt="about-user"> </div>
        </div>
    </div>
</div>
<div id="featured-service-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-power-off faa-horizontal animated"></i> </div>
                    <h3>Clean Design</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-send faa-horizontal animated"></i> </div>
                    <h3>Easy Customization</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-map-marker faa-horizontal animated"></i> </div>
                    <h3>Smart Search</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-money faa-horizontal animated"></i> </div>
                    <h3>Save Your Money</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-paint-brush faa-horizontal animated"></i> </div>
                    <h3>Friendly Interface</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-item-fearured">
                    <div class="svt-spec-service-icon hi-icon-effect-8"> <i class="hi-icon fa fa-comment faa-horizontal animated"></i> </div>
                    <h3>Professinal Support</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been dummy text.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dashboard_inner_block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-md-12 pricing-heading-title bt_heading_3">
                    <h1>Pricing <span>Plan</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="price-table-feature-block">
                            <h1>Basic</h1>
                            <hr>
                            <p>Free <span>$24</span> Per Month</p>
                            <div class="vfx-pl-seperator"> <span><i class="fa fa-caret-down"></i></span> </div>
                            <div class="vfx-price-list-item">
                                <h2>Limited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>One Agent for All</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Mail Communication</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-btn">
                                <button class="purchase-btn"><i class="fa fa-unlock-alt"></i> Purchase Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="price-table-feature-block active">
                            <h1>Premium</h1>
                            <hr>
                            <p>Free <span>$49</span> Per Month</p>
                            <div class="vfx-pl-seperator"> <span><i class="fa fa-caret-down"></i></span> </div>
                            <div class="vfx-price-list-item">
                                <h2>Unlimited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>One Agent for All</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Mail Communication</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-btn">
                                <button class="purchase-btn"><i class="fa fa-unlock-alt"></i> Purchase Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="price-table-feature-block">
                            <h1>Plus</h1>
                            <hr>
                            <p>Free <span>$99</span> Per Month</p>
                            <div class="vfx-pl-seperator"> <span><i class="fa fa-caret-down"></i></span> </div>
                            <div class="vfx-price-list-item">
                                <h2>Unlimited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Unlimited Number</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-list-item">
                                <h2>Personal Training</h2>
                                <p>Our company offers best pricing options for field agents and companies.</p>
                            </div>
                            <div class="vfx-price-btn">
                                <button class="purchase-btn"><i class="fa fa-unlock-alt"></i> Purchase Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<CounterBlockPage></CounterBlockPage>
@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    protected override async Task OnInitializedAsync()
    {
       
    }
}