@page "/categories"
@inject IJSRuntime IJS
@inject ListingService ListingSvc
@inject CategoryService CategorySvc
@inject SubCategoryService SubCategorySvc

<BreadcrumbPage LinkName="Categories" LinkUrl="/categories"></BreadcrumbPage>
<SearchBoxPage></SearchBoxPage>
<div id="all-categorie-item-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-12 all-categorie-list-title bt_heading_3">
                    <h1>All <span>Categories</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                    @if (ListCategories != null)
                        @foreach (var category in ListCategories)
                        {
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="categorie-list-box">
                                    <div class="search-categories-boxes">
                                        <h2><i class="fa fa-suitcase"></i> @category.Name</h2>
                                    </div>
                                    <div class="categories-list">
                                        <ul>
                                            @foreach(var subcategory in ListSubCategories.Where(x=>x.CategoryId == category.Id))
                                            {
                                                <li><a href="@($"listing_list/subcategory/{subcategory.Id}")"><i class="fa fa-hand-o-right"></i> @subcategory.Name</a><span>0</span></li>
                                            }
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    else
                    {
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <span class="alert alert-warning">
                                Data Not Found
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
   

    List<SubCategory> ListSubCategories = new();
    List<Category> ListCategories = new();
    protected override async Task OnInitializedAsync()
    {
        ListSubCategories = SubCategorySvc.GetDataWithCategory();
        ListCategories = CategorySvc.GetAllData();
      
    }
}
