@page "/change_password"
@inject IJSRuntime IJS
@using Dinding.Tools
@using Dinding.Models
@using Dinding.Data
@inject NavigationManager NavMgr
@inject IToastService toastService
@inject UserProfileService service

<BreadcrumbPage LinkName="Ubah Kata Sandi" LinkUrl="/change_password"></BreadcrumbPage>

<div id="dashboard_inner_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-12 all-categorie-list-title bt_heading_3">
                    <h1>Ubah <span>Kata Sandi</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                    <InnerSideBarPage></InnerSideBarPage>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="submit_listing_box">
                            <h3>Ubah Kata Sandi</h3>
                            <div class="form-alt">
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Kata Sandi <span>*</span></label>
                                        <input placeholder="Kata Sandi" @bind="DataUser.Password" required class="form-control" type="password">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Konfirmasi Kata Sandi <span>*</span></label>
                                        <input placeholder="Konfirmasi Kata Sandi" @bind="RetypePass" required class="form-control" type="password">
                                    </div>
                                    <div class="from-list-lt col-md-12">
                                        <div class="form-group btn_change_pass">
                                            <button class="btn pull-right" type="button" @onclick="Simpan">Kirim</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


     

@code {
    string GenderStr;
    UserProfile DataUser = new UserProfile();
    
    string RetypePass;
    string ErrorMsg = string.Empty;
    bool RegisterSuccess = false;
    Encryption enc;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
   
    
    protected override async Task OnInitializedAsync()
    {
        enc = new Encryption();
       
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            DataUser = service.GetItemByUsername(UserName);
            DataUser.Password = enc.Decrypt(DataUser.Password);
        }


    }
    void Simpan()
    {
        ErrorMsg = "";


        if (string.IsNullOrEmpty(DataUser.Password))
        {
            ErrorMsg += "Tolong di isi password. ";

        }
        
        if (DataUser.Password != RetypePass)
        {
            ErrorMsg += "Tulis ulang password dengan benar. ";

        }


        if (ErrorMsg.Length > 0)
        {
            toastService.ShowWarning(ErrorMsg, "Perhatian");
            return;
        }
       
        DataUser.Password = enc.Encrypt(DataUser.Password);
        if (service.UpdateData(DataUser))
        {
            toastService.ShowSuccess("Password Anda sudah berhasil di update. Nuhun", "Info");
        }
    }

    void Kembali()
    {
        NavMgr.NavigateTo("/");
    }

    
    
}