@page "/contact"
@inject IJSRuntime IJS
@inject ContactService ContactSvc
@inject IToastService toastService
@inject NavigationManager NavMgr

<BreadcrumbPage LinkName="Kontak Kami" LinkUrl="/contact"></BreadcrumbPage>

<div id="vfx-product-inner-item">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contact-heading-title text-center bt_heading_3">
                <h1>Kontak <span>Kami</span></h1>
                <div class="blind line_1"></div>
                <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                <div class="blind line_2"></div>
            </div>
            <span class="clt-content">Jika ada hal-hal yang ingin ditanyakan, dilaporkan silakan gunakan kanal ini untuk berkomunikasi dengan tim kami. Jangan sungkan, keluarkan semua uneg-uneg biar semua lepas.<br /> Hatur nuhun</span>
            <div class="from-list-lt">
                <div class="col-xs-12 col-lg-8 col-sm-12">
                    <div class="form-float form-alt">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <span class="from-input-ic"><i class="fa fa-user"></i></span>
                                <input class="form-control" @bind="Data.Firstname" required placeholder="Nama Depan" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <span class="from-input-ic"><i class="fa fa-user"></i></span>
                                <input class="form-control" @bind="Data.Lastname" required placeholder="Nama Belakang" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <span class="from-input-ic"><i class="fa fa-envelope-o"></i></span>
                                <input class="form-control" @bind="Data.Email" required placeholder="Email" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <span class="from-input-ic"><i class="fa fa-phone"></i></span>
                                <input class="form-control" @bind="Data.Phone" required placeholder="Nomor Kontak" type="text">
                            </div>
                            <div class="form-group col-xs-12">
                                <span class="from-input-ic"><i class="fa fa-comments"></i></span>
                                <textarea class="form-control" @bind="Data.Message" required placeholder="Pesanmu"></textarea>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <input class="verifi_code form-control" @bind="TypedCaptcha" required placeholder="Kode Verifikasi" type="text">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <div class="b-form-vertical__input"> <img id="captcha" src="@CaptchaImage" alt=""> <a href="" @onclick:preventDefault @onclick="GenerateCaptcha"><span class="captchareload"><i class="fa fa-refresh"></i></span></a> </div>
                            </div>
                            <div class="form-group col-xs-12">
                                <button class="btn pull-right" type="button" @onclick="Save">Kirim</button>
                            </div>
                        </div>
                    </div>
                </div>

             

                <div class="col-xs-12 col-lg-4 col-sm-12">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <div class="media media-iconic">
                            <div class="media-body">
                                <div class="lt-co-icon"> <img src="images/ic-loc.png" alt="ic-loc"> </div>
                                <div class="lt-co-blok-text">
                                    <div class="lt-co-title">Lokasi</div>
                                    <hr class="lt-co-yellow-hr">
                                    <p class="lt-bdr-one">Buitenzorg Makers Club, BMSpace, Jl Melati 22A Taman Cimanggu, Bogor...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <div class="media media-iconic">
                            <div class="media-body">
                                <div class="lt-co-icon"> <img src="images/ic-call.png" alt="ic-call"> </div>
                                <div class="lt-co-blok-text">
                                    <div class="lt-co-title">Telepon | Email</div>
                                    <hr class="lt-co-green-hr">
                                    <p class="lt-bdr-two">
                                        <b>ID</b> :-&nbsp;+62 812-1996-4496<br>
                                     
                                        <b>E-Mail</b> :-&nbsp;<a href="mailto:dinding@gravicode.com">dinding@gravicode.com</a><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <div class="media media-iconic">
                            <div class="media-body">
                                <div class="lt-co-icon"> <img src="images/ic-time.png" alt="ic-time"> </div>
                                <div class="lt-co-blok-text">
                                    <div class="lt-co-title">Jam Kerja</div>
                                    <hr class="lt-bg-blue-hr">
                                    <p class="lt-bdr-three"><b>Sen</b> - <b>Sab</b> :- 10am - 4pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    public string CaptchaImage { get; set; }
    public string Answer { get; set; }
    public string TypedCaptcha { get; set; }

    bool showError = false;
    public Contact Data { get; set; } = new();
    async Task KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Save();
            //Console.WriteLine(this.Value);
        }
    }

    async Task Save()
    {
        var ErrMsg = "";
        if (string.IsNullOrEmpty(Data.Firstname))
        {
            ErrMsg += "Tolong isi Firstname.";
        }
        if (string.IsNullOrEmpty(Data.Lastname))
        {
            ErrMsg += "Tolong isi Lastname.";
        }
        if (string.IsNullOrEmpty(Data.Message))
        {
            ErrMsg += "Tolong isi Message.";
        }
        if (string.IsNullOrEmpty(Data.Email))
        {
            ErrMsg += "Tolong isi Email.";
        }
        if (string.IsNullOrEmpty(Data.Phone))
        {
            ErrMsg += "Tolong isi Phone.";
        }
        if (Answer != TypedCaptcha)
        {
            ErrMsg += "Captcha tidak sesuai.";
        }
        if (ErrMsg.Length > 0)
        {
            toastService.ShowError(ErrMsg, "Perhatian");
        }
        else
        {
            if (ContactSvc.InsertData(Data))
            {
                toastService.ShowSuccess("Contact berhasil di simpan. Terima kasih");
            }
            else
            {
                toastService.ShowError("Gagal menyimpan data. Coba kembali");
            }
        }

    }

    void GenerateCaptcha()
    {
        Random oRandom = new Random();
        int iNumber = oRandom.Next(1000, 9999);
        Answer = iNumber.ToString();
        var gen = new SkiaCaptchaGenerator();
        var temp = gen.GenerateImageAsByteArray(Answer);
        string base64String = Convert.ToBase64String(temp, 0, temp.Length);
        CaptchaImage = "data:image/png;base64," + base64String;
    }

    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {

       
        if (string.IsNullOrEmpty(CaptchaImage))
            GenerateCaptcha();
    }
}
