@page "/edit_profile"

@inject IJSRuntime jsRuntime
@using Dinding.Tools
@using Dinding.Models
@using Dinding.Data
@inject NavigationManager NavMgr
@inject AzureBlobHelper AzureBlobHelper
@inject IToastService toastService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<BreadcrumbPage LinkName="Ubah Akun" LinkUrl="/edit_profile"></BreadcrumbPage>
<div id="dashboard_inner_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-12 all-categorie-list-title bt_heading_3">
                    <h1>Ubah <span> Akun</span></h1>
                    <div class="blind line_1"></div>
                    <div class="flipInX-1 blind icon"><span class="icon"><i class="fa fa-stop"></i>&nbsp;&nbsp;<i class="fa fa-stop"></i></span></div>
                    <div class="blind line_2"></div>
                </div>
                <div class="row">
                    <InnerSideBarPage></InnerSideBarPage>
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="submit_listing_box">
                            <h3>Informasi Kontak</h3>
                            <form class="form-alt">
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Nama <span>*</span></label>
                                        <input placeholder="Nama" @bind="DataUser.FirstName" required class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Nama Belakang <span>*</span></label>
                                        <input placeholder="Nama Belakang" @bind="DataUser.LastName"  required class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>E-Mail <span>*</span></label>
                                        <input placeholder="Email" @bind="DataUser.Email" required class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Telepon <span>*</span></label>
                                        <input placeholder="Phone" @bind="DataUser.Phone" required class="form-control" type="text">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Relasi Sosial</h3>
                            <form class="form-alt">
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Facebook :-</label>
                                        <input class="form-control" @bind="DataUser.FBUrl" placeholder="http://facebook.com/" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Twitter :-</label>
                                        <input class="form-control" @bind="DataUser.TwitterUrl" placeholder="http://twitter.com/" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Linkedin :-</label>
                                        <input class="form-control" @bind="DataUser.LinkedIdUrl" placeholder="http://linkedin.com/" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Website :-</label>
                                        <input class="form-control" @bind="DataUser.Website" placeholder="http://dribble.com/" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Instagram :-</label>
                                        <input class="form-control" @bind="DataUser.InstagramUrl" placeholder="http://insatgram.com/" type="text">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Alamat</h3>
                            <form class="form-alt">
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Negara :-</label>
                                        <input class="form-control" @bind="DataUser.Negara" placeholder="Everton Eve" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <label>Kota :-</label>
                                        <input class="form-control"  @bind="DataUser.Kota" placeholder="New York City" type="text">
                                    </div>
                                   
                                   
                                    <div class="form-group col-md-3 col-sm-12 col-xs-12">
                                        <label>Kode Pos :-</label>
                                        <input class="form-control" @bind="DataUser.KodePos" placeholder="121211" type="text">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <label>Alamat :-</label>
                                        <textarea @bind="DataUser.Alamat" placeholder="Alamat..." class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="submit_listing_box">
                            <h3>Unggah Foto</h3>
                            <div class="fileupload_block">
                                <InputFile id="fileInput1" OnChange="UploadFiles" hidden />
                                <div class="fileupload_img"> <img  @onclick="(()=>PrepareUpload())" src="@(DataUser?.PicUrl==null ? "images/add_image.png" : DataUser.PicUrl)"  alt="add image" /> </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="from-list-lt">
                            <div class="form-group">
                                <button class="btn" type="button" @onclick="Simpan">Simpan Perubahan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    string GenderStr;
    UserProfile DataUser = new UserProfile();
    UserProfileService service;
    string RetypePass;
    string ErrorMsg = string.Empty;
    bool RegisterSuccess = false;
    Encryption enc;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
    private void OnChange(ChangeEventArgs args)
    {
        GenderStr = args.Value.ToString();
    }
    async Task PrepareUpload()
    {
        await jsRuntime.InvokeVoidAsync("OpenFileUpload", "fileInput1");
    }
    protected override async Task OnInitializedAsync()
    {
        enc = new Encryption();
        if (service == null) service = new UserProfileService();
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            DataUser = service.GetItemByUsername(UserName);
            DataUser.Password = enc.Decrypt(DataUser.Password);
        }


    }
    void Simpan()
    {
        ErrorMsg = "";


        if (string.IsNullOrEmpty(DataUser.Password))
        {
            ErrorMsg += "Tolong di isi password. ";

        }
        if (string.IsNullOrEmpty(DataUser.Phone))
        {
            ErrorMsg += "Tolong di isi no hp. ";

        }
        if (string.IsNullOrEmpty(DataUser.FullName))
        {
            ErrorMsg += "Tolong di isi nama lengkap. ";

        }
        if (string.IsNullOrEmpty(DataUser.Alamat))
        {
            ErrorMsg += "Tolong di isi alamat. ";

        }
       

        if (ErrorMsg.Length > 0)
        {
            toastService.ShowWarning(ErrorMsg, "Perhatian");
            return;
        }
        if(GenderStr!=null)
            DataUser.Gender = GenderStr[0];
        DataUser.Password = enc.Encrypt(DataUser.Password);
        if (service.UpdateData(DataUser))
        {
            toastService.ShowSuccess("Profile Anda sudah berhasil di update. Nuhun", "Info");
        }
    }

    void Kembali()
    {
        NavMgr.NavigateTo("/");
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            var ms = new MemoryStream();
            await file.OpenReadStream(AppConstants.MaxAllowedFileSize).CopyToAsync(ms);
            var bytes = SKiaImageHelper.FixedSize(ms, 250, 250, false);
            string newName = string.Empty;

            newName = $"profile_{(string.IsNullOrEmpty(DataUser.Username) ? "rojul" : DataUser.Username)}_{DateTime.Now.ToString("dd_MM_yyyy_HH_mm_ss")}_{file.Name}";
            var FileUrl = $"{AppConstants.UploadUrlPrefix}{newName}";
            await AzureBlobHelper.UploadFile(newName, bytes);
            DataUser.PicUrl = FileUrl;

        }
    }
}